{% extends 'pearl/base.html' %}
{% load static %}

{% block content %}

<div class='forms-parent-container'> 
    <h1>Before we Proceed...</h1>
    <p class='ac-p'>To experience the power of these eternal words there is a step that is most important to take; <span class='ac-span-1'>a prayer of submission to Christ Jesus, the Power in the Word, the Word Himself</span> please say this short prayer.</p>
    <p class='prayer'>Lord Jesus, I believe in my heart that you gave your life to set me free and give me a glorious life, I accept and confess you as my personal Lord and Savior, and declare that my life is Your <span class='ac-span-2'> Word </span>. So Help me GOD.</p>
    <address>~Romans 10:9-10</address>
    <div>
        <a href="{% url 'home_list' %}" oncl><input type="submit" value="Amen" class="post-entry-input"></a>
    </div>
</div>

{% endblock %}