{% extends 'pearl/base.html' %}
{% load static %}

{% block content %}
<div class="parent-block">
    <div class="archive-container">
        <div class="title">
            <a href='{% url "archive_list" %}'><h1>MEDITATE ON YOUR ARCHIVED PEARLS</h1></a>
        </div>
        <div class="archive-grid">
        {% for i in archived_post %}
        <div class="archive-img-div">
            <a href="{% url 'pearl_detail' i.pk %}">
            <img src="{{ i.pearl.url }}" class="archive-pearl-img">
            </a>
            
        </div>
        {% endfor %}
        </div>
        <p class="info-p">Through meditations, the Word becomes our life. Meditate on your archived <br> Pearls as often as you remember.<br>
        Pearls older than 14 days are automatically removed from archive.</p>
    </div>
    <div class="second-child">
        <h3 class="category-text">Today</h3>
        {% for post in newest_post %}
            <div class="previous-post">
                    <div>
                        <img src="{{ post.pearl.url }}" alt="yesterday_pearl_img" class="previous-post-image">
                        <div class="previous-post-summary-div"><h3 class="category-text"><a href="{% url 'pearl_detail' post.pk %}">{{ post.category }}</a></h3>
                        <p class="previous-post-summary-p">{{ post.summary }}</p>
                        <address class="previous-post-summary-address">{{ post.text }}</address>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
