{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pearls by Vecugo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pearl/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
      
      <a href='javascript:void(0);' class='icon' onclick='burgerMenu()'>
        <i class= "fa fa-bars"></i>
      </a>
      <div class="topnav">
        
          <div class="nav-left">
            {% include 'pearl/includes/messages.html' %}

            <a href="{% url 'home_list' %}"><img src="{% static 'pearlslogo.png' %}" class="logo"></a>
          </div>
          <div class="nav-right">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">

                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                      {% if user.is_authenticated %}
                      
                      
                      <li>
                          {% comment %} <button disabled class="js-push-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id='notifier'>
                            Enable Push Messaging
                          </button> {% endcomment %}
                      </li>
                        <li class='nav-item'>
                          <a class= "nav-link" href="{% url 'archive_list' %}">ARCHIVE</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/logout">LOGOUT</a>
                      </li>
                      
                      {% else %}
                
                      <li class="nav-item">
                        <a class="nav-link" href="/login">LOGIN</a>
                        <a class="nav-link" href="{% url 'register' %}">SIGNUP</a>
                      </li>
                
                      {% endif %}
                    </ul>
                  </div>
                  
                </nav>
              
          </div>
      </div>
    </header>
    <hr class="header-border" style= 'color: whitesmoke ;'>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <script src='{% static 'pearl/pearl.js' %}'></script>
    <script src="'http://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
