{% extends 'pearl/base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

{% comment %} <div class="forms-parent-container">
    <form action="" method="POST" class="pearl-forms">
        {% csrf_token %}
        {{ login_form|crispy }}
        {% include 'pearl/includes/messages.html' %}
        <button class="form-actions form-actions-one" type="submit">Login</button>
        <div><a href="{% url 'password_reset' %}" class="form-actions">forgotten password?</a></div>
    </form>
    <p>Don't have an account? <a href="/register"><b>REGISTER</b></a>.</p>
</div> {% endcomment %}

<div class = "in-the-works">
    <div class="itw-image"></div>
    <div class="title itw-text"><h1>Hi there, thanks for visiting this page. </h1> <h2 style="font-size:5vw;">We are making it great for you so
        it is unavailable for now.</h2>
    </div>
    {% comment %} <div class="time-left-to-update"><p>Ready in day(s)</p></div> {% endcomment %}
</div>
<div style="margin:auto; text-align:center; margin-top: 2rem;">
    <a href="{% url 'home_list' %}"><input type="submit" value="Back Home" class="post-entry-input"></a>
</div>

{% endblock %}