{% extends 'pearl/base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<div class="forms-parent-container">
    <form action="" method="POST" class="pearl-forms">
        {% csrf_token %}
        {{ login_form|crispy }}
        {% include 'pearl/includes/messages.html' %}
        <button class="form-actions form-actions-one" type="submit">Login</button>
        <div><a href="{% url 'password_reset' %}" class="form-actions">forgotten password?</a></div>
    </form>
    <p>Don't have an account? <a href="/register"><b>REGISTER</b></a>.</p>
</div>

{% endblock %}