{% extends 'pearl/base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}



<!-- Register -->
<div class="forms-parent-container">


    <form action="" method="POST" class="pearl-forms">
        {% csrf_token %}

        {{ register_form|crispy }}
        {% include 'pearl/includes/messages.html' %}
        <button class="form-actions-one" type="submit">Register</button>
    </form>
    <p class="">If you already have an account, <a href="/login"><b>LOGIN</b></a> instead.</p>

</div>
    
{% endblock %}